/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#map {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 12px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

/* General Classes */
.center-x {
    left: 50%;
    transform: translateX(-50%);
}

/* Map View Classes */
.search {
    z-index: 100;
    position: fixed;
    left: 35px;
    top: 25px;
    height: 35px;
    width: 21%;
}

.search-bar {
    position: absolute;
    left: 0;
    height: 100%;
    width: 80%;
    font-size: 16px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px 0 0 5px;
    outline: 0;
    border: 1px solid #00868b;
    font-weight: 200;
}

.search-bar:focus {
    border-top: 3px solid #00868b;
    border-bottom: 3px solid #00868b;
    border-left: 3px solid #00868b;
}

.search-bar[placeholder] {
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-button {
    background: #00868b;
    font-size: 20px;
    color: #fff;
    height: 100%;
    position: absolute;
    border: 0;
    right: 0;
    width: 20%;
    outline: 0;
    border-radius: 0 5px 5px 0;
}

.search-button:hover,
.list-toggle:hover {
    background: #20b2aa;
}

.filtered-places {
    z-index: 100;
    position: fixed;
    left: 40px;
    top: 70px;
    background: none;
    height: 90%;
    max-height: 90%;
    overflow-y: scroll;
    width: 20%;
    transition: 0.2s;
    border: 2px solid #00868b;
    border-radius: 5px;
}

.list-toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    border: 0;
    outline: 0;
    background: #1c5380;
    transition: 0.2s;
    z-index: 200
}

.place {
    padding: 10px;
    padding-left: 20px;
    color: #00868b;
    position: relative;
    border: 1px solid #ddd;
    background: white;
    width: 100%;
    float: right;
    transition: 0.5s;
}

.place:hover {
    background: #81d8d0;
}

.chosen-place {
    background: #81d8d0;
}

.place-info {
    width: 215px;
}

.no-results {
    z-index: 100;
    position: fixed;
    right: 0px;
    top: 50px;
    background: white;
    height: 50px;
    padding: 10px;
    width: 294px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #ddd;
    transition: 0.2s;
}

.infowindow {
    height: 100px;
    width: 230px;
}

.foursquare {
    position: absolute;
    color: #00868b;
    background: #fff;
    padding: 20px;
    top: 25px;
    right: 10px;
    width: 22%;
    border: 2px solid #00868b;
    border-radius: 5px;
    text-align: center;

}

.fsname {
    color: #000;
    line-height: 35px;
}

.fsimg {
    width: 80%;
}

.links {
    width: 90%;
    padding: 20px 0;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
}

.links a {
    display: block;
    color: #00868b;
}

.links a:hover {
    color: #000;
}

.rating {
    width: 65px;
    height: 35px;
    margin: 0 auto;
    background-color: #00868b;
    color: #fff;
    font-size: 31px;
    border-radius: 8px;
}

.search-replace {
    display: none;
    position: absolute;
    top: 27px;
    left: 2px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: #00868b;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.search-replace:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 1);
}

.active {
    background-color: #005a51;
}


@media screen and (max-width: 1099px) {
    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 14px;
    }

    .place {
        padding-left: 5px;
    }

    .links {
        font-size: 14px;
    }

    .rating {
        width: 41px;
        height: 24px;
        font-size: 22px;
        border-radius: 6px;
    }
}

@media screen and (max-width: 864px) {
    .fsimg {
        display: none;
    }

    h2 {
        font-size: 14px;
    }

    h3 {
        font-size: 14px;
    }

    .foursquare {
        padding: 10px 5px;
    }

    .search-replace {
        display: block;
    }

}